<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>关于匠心科技</h2>
            <p>由于我们发现许多O2O初创者对于商业与市场的理解远远高于对于技术的了解。那么造成许多初创者费心了树立了商业与市场模型和概念之后，才发现不知道如何用技术实现，如何区分哪些是可以线上执行的，该找什么样的技术人才来帮忙。</p>
            <p>大部分的O2O的初创者就开始寻求“服务外包”的形式来实现自己的诉求，但结果是由于不知道如何用技术的语言来描述需求从而造成最后的结果差强人意。就需要不断地返工或者沟通，造成时间和金钱的浪费。</p>
            <p>我们发现许多的创业者由于这样的情况错过最佳的上线发布时期，从而错过拿到进一步扩大的天使甚至A轮融资.</p>
            <p>正式由于如上的原因，我们创建了匠心科技。匠心来源于用专业工匠的用心来帮助O2O初创者成功，匠心科技营造的技术空间使得“匠者”就好像古代铸剑师一样，了解客户的需求，按照客户的特点来量身定制。</p>
            <p>只有这样的合作才能真正的造出客户真正需要的“兵不血刃的利剑”。</p>
        </div>
    </div>
</section>