<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-12">
                <div class="row m-b-lg">
                    <div class=" text-center">
                        <h3><strong> 精彩案例 </strong></h3>
                        <h4 class="m-b-lg">匠心科技曾经帮助过这些企业</h4>
                    </div>
                </div>
                <div class="row col-lg-12">
                    <div class="col-md-4 m-b-lg">
                        <div class="panel panel-default panel-profile m-b-0 background-dark">
                            <div style="background-color: #ffffff" class="panel-heading">
                                <img src="/img/guozuzu-logo.png" class="img-responsive center-block" style="margin: auto"/>
                            </div>
                            <div class="panel-body text-center">
                                <img src="/img/guozuzu-cases.jpg" alt="" class="img-responsive center-block"/>

                                <p style="color: #080808" >
                                    果租租平台的使命——整合高品质的服务公寓，为大家提供全流程的租住解决方案. </p>
                                <!--<a href="//github.com/fat" target="_blank" class="btn btn-primary-outline btn-sm m-b">
                                    <span class="icon icon-add-user"></span> View GitHub
                                </a>-->
                            </div>
                            <div class="panel-footer">
                                <p style="color:chocolate">匠心科技和果租租的创始人全程参与了从产品设计到最终产品落地。果租租平台涉及：微信（支付）开发,
                                    多设备适配网页（app）开发，微服务架构，数据库搭建以及数据集成</p>
                            </div>
                        </div>
                        <!--<img class="panel" height="300px" width="150px" src="/img/guozuzu-cases.jpg">
                        <p>果租租平台的使命——整合高品质的服务公寓，为大家提供全流程的租住解决方案。小租君希望，从找房、看房，付房租，到入住后的各种生活服务，果租租都一直一直在您身边，替您排忧解难。</p>
                        <p>匠心科技和果租租的创始人全程参与了从产品设计到最终产品落地。果租租平台涉及：微信（支付）开发, 多设备适配网页（app）开发，微服务架构，数据库搭建以及数据集成</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>