    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container row row-padded row-bordered row-centered">
                <div class="col-lg-12">
                    <div class="row m-b-lg">
                        <div class=" text-center">
                            <h3><strong> 精彩案例 </strong></h3>
                            <h4 class="m-b-lg">匠心科技曾经帮助过这些企业</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 m-b-lg">
                            <!--<div class="panel panel-default panel-profile m-b-0">
                                <div class="panel-heading"
                                     style="background-image: url(/img/guozuzu-cases.jpg);"></div>
                                &lt;!&ndash;<div class="panel-body text-center">
                                    <img class="panel-profile-img"
                                         src="https://impactentrepreneurs.files.wordpress.com/2014/04/sketchnotes_pdxcatapult_web-jpeg.png">
                                    <h5 class="panel-title">产品设计</h5>

                                    <p class="m-b">协助O2O创业者完成从商业理念到技术产品的转化和翻译，确认线上和线下的界限和范围，从而衍生出真正的技术方案</p>
                                    &lt;!&ndash;<a href="//github.com/fat" target="_blank" class="btn btn-primary-outline btn-sm m-b">
                                        <span class="icon icon-add-user"></span> View GitHub
                                    </a>&ndash;&gt;
                                </div>&ndash;&gt;
                            </div>
                        </div>-->
                            <img class="panel" height="150px" width="100px" src="/img/guozuzu-cases.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>