    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">匠心科技</h1>
                        <p class="intro-text">来到匠心部落，帮你圆O2O创业之路.<br>----- 匠者说</p>
                        <p class="intro-text">匠心部落致力于解决医疗行业O2O创业者所遇到的<br>商业思路如何技术落地 <br>如何实现O2O商业和技术双闭环 <br>外包开发不靠谱 </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>