<section id="staffs" class="container content-section text-center">
    <div class="service-section row row-padded row-bordered row-centered">
        <div class="col-lg-12">
            <div class="row m-b-lg">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h3><strong>行业精英</strong></h3>
                    <h4 class="m-b-lg">匠心科技是由一批有着工匠精神的工程师组成
                        <!--<a href="getbootstrap.com" target="_blank">Bootstrap</a>。 <a href="http://getskeleton.com/"
                                                                                     target="_blank">Skeleton</a>, and
                        <a href="http://goratchet.com/" target="_blank">Ratchet</a>-->。他们中大多数人曾就职过或仍然在职于知名大公司职位像EMC
                        ,HP之类，同时他们中也有人也帮助过例如猪八戒，猎上，果租租等完成了天使，A轮甚至C轮融资</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 m-b-lg">
                    <div class="panel panel-default panel-profile m-b-0">
                        <div class="panel-heading"
                             style="background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/84/assets/insta-2.jpg?1508497317997170820);"></div>
                        <div class="panel-body text-center">
                            <img class="panel-profile-img"
                                 src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAL3AAAAJDY1MjQ1MGJhLWUwNmItNDE4Mi1hYmFkLTZjYjI4MTYwZTc5YQ.jpg">
                            <h5 class="panel-title">刘轩飞</h5>

                            <p class="m-b">Star trek flow so they klingon me. I wrote this here code. Two times.</p>
                            <a href="//github.com/fat" target="_blank" class="btn btn-primary-outline btn-sm m-b">
                                <span class="icon icon-add-user"></span> View GitHub
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-b-lg">
                    <div class="panel panel-default panel-profile m-b-0">
                        <div class="panel-heading" style="background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/84/assets/insta-1.jpg?1508497317997170820);"></div>
                        <div class="panel-body text-center">
                            <img class="panel-profile-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/000/157/3a5/2eb4685.jpg">
                            <h5 class="panel-title">黄严</h5>
                            <p class="m-b">Design at GitHub. Creator of Bootstrap. Previously at Twitter.</p>
                            <a href="//github.com/mdo" target="_blank" class="btn btn-primary-outline btn-sm m-b">
                                <span class="icon icon-add-user"></span> View GitHub
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-b-lg">
                    <div class="panel panel-default panel-profile m-b-0">
                        <div class="panel-heading" style="background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/84/assets/insta-3.jpg?1508497317997170820);"></div>
                        <div class="panel-body text-center">
                            <img class="panel-profile-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/082/064/187af73.jpg">
                            <h5 class="panel-title">刘之元</h5>
                            <p class="m-b">Burritos are my spirit animal. Previously Twitter and Medium.</p>
                            <a href="//github.com/dhg" target="_blank" class="btn btn-primary-outline btn-sm m-b">
                                <span class="icon icon-add-user"></span> View GitHub
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 m-b-lg">
                    <div class="panel panel-default panel-profile m-b-0">
                        <div class="panel-heading"
                             style="background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/84/assets/insta-2.jpg?1508497317997170820);"></div>
                        <div class="panel-body text-center">
                            <img class="panel-profile-img"
                                 src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/2/000/2bc/06a/0d37e12.jpg">
                            <h5 class="panel-title">宋楠</h5>

                            <p class="m-b">Star trek flow so they klingon me. I wrote this here code. Two times.</p>
                            <a href="//github.com/fat" target="_blank" class="btn btn-primary-outline btn-sm m-b">
                                <span class="icon icon-add-user"></span> View GitHub
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-b-lg">
                    <div class="panel panel-default panel-profile m-b-0">
                        <div class="panel-heading" style="background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/84/assets/insta-1.jpg?1508497317997170820);"></div>
                        <div class="panel-body text-center">
                            <img class="panel-profile-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/042/23f/2d783ac.jpg">
                            <h5 class="panel-title">朱俊</h5>
                            <p class="m-b">Design at GitHub. Creator of Bootstrap. Previously at Twitter.</p>
                            <a href="//github.com/mdo" target="_blank" class="btn btn-primary-outline btn-sm m-b">
                                <span class="icon icon-add-user"></span> View GitHub
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-b-lg">
                    <div class="panel panel-default panel-profile m-b-0">
                        <div class="panel-heading" style="background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/84/assets/insta-3.jpg?1508497317997170820);"></div>
                        <div class="panel-body text-center">
                            <img class="panel-profile-img" src="https://media.licdn.com/media/p/4/000/16b/22a/11565ad.jpg">
                            <h5 class="panel-title">孙伟</h5>
                            <p class="m-b">Burritos are my spirit animal. Previously Twitter and Medium.</p>
                            <a href="//github.com/dhg" target="_blank" class="btn btn-primary-outline btn-sm m-b">
                                <span class="icon icon-add-user"></span> View GitHub
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 m-b-lg">
                    <div class="panel panel-default panel-profile m-b-0">
                        <div class="panel-heading"
                             style="background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/84/assets/insta-2.jpg?1508497317997170820);"></div>
                        <div class="panel-body text-center">
                            <img class="panel-profile-img"
                                 src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/000/061/37e/05cff8a.jpg">
                            <h5 class="panel-title">Adam Zhao</h5>

                            <p class="m-b">Star trek flow so they klingon me. I wrote this here code. Two times.</p>
                            <a href="//github.com/fat" target="_blank" class="btn btn-primary-outline btn-sm m-b">
                                <span class="icon icon-add-user"></span> View GitHub
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-b-lg">
                    <div class="panel panel-default panel-profile m-b-0">
                        <div class="panel-heading" style="background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/84/assets/insta-1.jpg?1508497317997170820);"></div>
                        <div class="panel-body text-center">
                            <img class="panel-profile-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/4/005/065/33e/3d51c80.jpg">
                            <h5 class="panel-title">程驰</h5>
                            <p class="m-b">Design at GitHub. Creator of Bootstrap. Previously at Twitter.</p>
                            <a href="//github.com/mdo" target="_blank" class="btn btn-primary-outline btn-sm m-b">
                                <span class="icon icon-add-user"></span> View GitHub
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 m-b-lg">
                    <div class="panel panel-default panel-profile m-b-0">
                        <div class="panel-heading" style="background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/84/assets/insta-3.jpg?1508497317997170820);"></div>
                        <div class="panel-body text-center">
                            <img class="panel-profile-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/082/064/187af73.jpg">
                            <h5 class="panel-title">之元</h5>
                            <p class="m-b">Burritos are my spirit animal. Previously Twitter and Medium.</p>
                            <a href="//github.com/dhg" target="_blank" class="btn btn-primary-outline btn-sm m-b">
                                <span class="icon icon-add-user"></span> View GitHub
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>